
.headerContainer {
    width: 100%;
    /* height: 50px; */
    background-color: #0063f6;
    position: relative;
    position:fixed;
    z-index: 9999999;
}
.header {
    width: 80%;
    margin: 0 auto;
    /* padding:10px; */
    height: 70px;
    display: flex;
    align-items: center;
}
.logoCompany {
    position: absolute;
    width: 100px;
    object-fit: cover;
    height: 100%;
    cursor: pointer;
}
.headerRouterDom {
    display: flex;
    margin-left: 130px;
}
.IconOfRouter {
    display: flex;
    align-items: center;
    margin-right: 40px;
    color:rgb(71, 71, 71);
    font-size: 17px;
    font-weight: 600;
    transition:0.3s;
}
.IconOfRouter:hover {
    transition:0.3s;
    color:rgb(175, 170, 170);
}
.Theme {
    color:rgb(175, 170, 170);

}
.Icon {
    margin-right: 7px;
}


/* mobile */
@media (max-width: 1023px) {
    .header {
      width: 100%;
    }
    .IconOfRouter {
        font-size: 15px;
        margin-right: 10px;
    }
    .logoCompany {
        width: 50px;
    }
    .headerRouterDom {
        margin-left: 60px;
    }

}
/* tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    .header {
        width: 80%;
      }
}
/* iphone X */
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    .header {
      width: 100%;
    }
    .IconOfRouter {
        font-size: 15px;
        margin-right: 10px;
    }
    .logoCompany {
        width: 50px;
    }
    .headerRouterDom {
        margin-left: 60px;
    }
  }

  /* iphone 5 */
  @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (-webkit-device-pixel-ratio: 2) { 
    .IconOfRouter {
        font-size: 10px;
    }
}